
CREATE DATABASE [QLShopQuanAo]


GO
USE [QLShopQuanAo]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[MaChatLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenChatLieu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDOITRA]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDOITRA](
	[MaCTDoiTra] [int] IDENTITY(1,1) NOT NULL,
	[MaDoiTra] [int] NOT NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietDoiTra] PRIMARY KEY CLUSTERED 
(
	[MaCTDoiTra] ASC,
	[MaDoiTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaCTHoaDon] [int] NOT NULL,
	[MaHD] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CHINHANH](
	MaCN NVARCHAR(10) PRIMARY KEY NOT NULL,
	TenCN NVARCHAR(50),
	DiaChi NVARCHAR(50)
)
/****** Object:  Table [dbo].[DOITRA]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITRA](
	[MaDoiTra] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[MaLoaiKH] [int] NULL,
	[ThoiGian] [datetime] NULL,
 CONSTRAINT [PK_DoiTra] PRIMARY KEY CLUSTERED 
(
	[MaDoiTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[HOADON]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[MaLoaiKH] [int] NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[SDT] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MaLoaiKH] [int] NULL,
	[MaCN] [nvarchar](10),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](20) NULL,
	[MatKhau] [varchar](20) NULL,
	[Quyen] [nvarchar](50) NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](max) NULL,
	[GioiTinh] [varchar](3) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nchar](10) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MaCN] [nvarchar](10),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/16/2021 9:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](max) NULL,
	[DonGia] [int] NULL,
	[SoLuongTon] [int] NULL,
	[MaChatLieu] [int] NULL,
	[MaLoai] [int] NULL,
	[MaNSX] [int] NULL,
	[MaCN] [NVARCHAR](10),
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHATLIEU] ON 

INSERT [dbo].[CHATLIEU] ([MaChatLieu], [TenChatLieu]) VALUES (1, N'Vải Thun cao cấp')
INSERT [dbo].[CHATLIEU] ([MaChatLieu], [TenChatLieu]) VALUES (2, N'Vải cotton cao cấp')
INSERT [dbo].[CHATLIEU] ([MaChatLieu], [TenChatLieu]) VALUES (3, N'Vải Len cao cấp')
SET IDENTITY_INSERT [dbo].[CHATLIEU] OFF
GO
INSERT [dbo].[CHITIETHOADON] ([MaCTHoaDon], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 9, 4, 10, 200000)
INSERT [dbo].[CHITIETHOADON] ([MaCTHoaDon], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (2, 9, 4, 10, 200000)
INSERT [dbo].[CHITIETHOADON] ([MaCTHoaDon], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (3, 12, 3, 15, 150000)
GO
INSERT INTO CHINHANH
VALUES ('CN01',N'Chi nhánh 1','TPHCM'),
('CN02',N'Chi nhánh 2',N'Hà Nội'),
('CN03',N'Chi nhánh 3',N'Vũng Tàu')
SET IDENTITY_INSERT [dbo].[DOITRA] ON 

INSERT [dbo].[DOITRA] ([MaDoiTra], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (1, 1, 1, 2, CAST(N'2021-09-20T10:00:00.000' AS DateTime))
INSERT [dbo].[DOITRA] ([MaDoiTra], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (2, 2, 4, 1, CAST(N'2021-08-20T09:00:00.000' AS DateTime))
INSERT [dbo].[DOITRA] ([MaDoiTra], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (3, 1, 5, 1, CAST(N'2021-05-20T05:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DOITRA] OFF

INSERT [dbo].[HOADON] ([MaHD], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (1, 7, 1, 1, CAST(N'2021-12-15T15:47:04.697' AS DateTime))
INSERT [dbo].[HOADON] ([MaHD], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (2, 7, 1, 1, CAST(N'2021-12-15T15:48:40.963' AS DateTime))
INSERT [dbo].[HOADON] ([MaHD], [MaNV], [MaKH], [MaLoaiKH], [ThoiGian]) VALUES (3, 7, 1, 1, CAST(N'2021-12-15T15:50:05.563' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [MaLoaiKH],[MaCN]) VALUES (1, N'Nguyễn Hà Giang', N'919878732', N'25 Núi Thành', 1,'CN01')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [MaLoaiKH],[MaCN]) VALUES (2, N'Trần Thanh Tùng', N'0842364', N'857/48 Ba Vân', 2,'CN02')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [SDT], [DiaChi], [MaLoaiKH],[MaCN]) VALUES (3, N'Nguyễn Văn Tuấn', N'087635298', N'435 Âu Cơ', 2,'CN03')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIKHACHHANG] ON 

INSERT [dbo].[LOAIKHACHHANG] ([MaLoai], [TenLoai], [MoTa]) VALUES (1, N'Khách hàng trung thành', N'Luôn luôn mua đồ tại shop thường xuyên')
INSERT [dbo].[LOAIKHACHHANG] ([MaLoai], [TenLoai], [MoTa]) VALUES (2, N'Khách hàng tiềm năng', N'Lấy hàng với số lượng lớn theo lô hàng')
INSERT [dbo].[LOAIKHACHHANG] ([MaLoai], [TenLoai], [MoTa]) VALUES (3, N'Khách hàng giá trị nhỏ', N'Mua lẻ tẻ theo ngày')
SET IDENTITY_INSERT [dbo].[LOAIKHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoaiSanPham]) VALUES (1, N'Tốt')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoaiSanPham]) VALUES (2, N'Bình thường')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoaiSanPham]) VALUES (3, N'Cao cấp')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (1, N'Admin001', N'1234', N'Quản lý', 1)
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (2, N'Admin002', N'12345', N'Bán hàng', 3)
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Quyen], [MaNV]) VALUES (3, N'Admin003', N'123', N'Quản lý kinh doanh', 2)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu],[MaCN]) VALUES (1, N'Nguyễn Trọng Khánh', N'Nam', CAST(N'2001-01-11T00:00:00.000' AS DateTime), N'123/21/2 Điện Biên Phủ', N'9785213488', N'Quản Lý Shop','CN02')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu],[MaCN]) VALUES (2, N'Hứa Thị Mai', N'N?', CAST(N'2001-02-24T00:00:00.000' AS DateTime), N'234 Lê Trọng Tấn', N'978521234 ', N'Quản Lý Thu Ngân','CN01')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu],[MaCN]) VALUES (3, N'Trần NGọc Thảo', N'N?', CAST(N'2001-03-03T00:00:00.000' AS DateTime), N'435 Âu Cơ', N'9785134867', N'Nhân viên bán hàng','CN03')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (1, N'HUGU')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (2, N'NIKE')
INSERT [dbo].[NHASANXUAT] ([MaNSX], [TenNSX]) VALUES (3, N'ADDIDAS')
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [HinhAnh], [TrangThai], [DonGia], [SoLuongTon], [MaChatLieu], [MaLoai], [MaNSX], [MaCN]) VALUES (1, N'Tee-Shirt', N'Tee.jpg', N'Có sẵn', 150000, 10, 1, 1, 1,'CN03')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [HinhAnh], [TrangThai], [DonGia], [SoLuongTon], [MaChatLieu], [MaLoai], [MaNSX], [MaCN]) VALUES (2, N'Áo Jacket', N'Jacket.jpg', N'Không có sẵn', 250000, 5, 2, 2, 2,'CN02')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [HinhAnh], [TrangThai], [DonGia], [SoLuongTon], [MaChatLieu], [MaLoai], [MaNSX], [MaCN]) VALUES (3, N'Quần Shorts', N'Shorts.jpg', N'Có sẵn', 150000, 15, 3, 3, 3,'CN01')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[CHITIETDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDOITRA_DOITRA] FOREIGN KEY([MaDoiTra])
REFERENCES [dbo].[DOITRA] ([MaDoiTra])
GO
ALTER TABLE [dbo].[CHITIETDOITRA] CHECK CONSTRAINT [FK_CHITIETDOITRA_DOITRA]
GO
ALTER TABLE [dbo].[CHITIETDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDOITRA_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDOITRA] CHECK CONSTRAINT [FK_CHITIETDOITRA_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[DOITRA]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DOITRA] CHECK CONSTRAINT [FK_DOITRA_KHACHHANG]
GO
ALTER TABLE [dbo].[DOITRA]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DOITRA] CHECK CONSTRAINT [FK_DOITRA_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LOAIKHACHHANG] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoai])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LOAIKHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_LOAIKHACHHANG] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoai])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_LOAIKHACHHANG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CHATLIEU] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[CHATLIEU] ([MaChatLieu])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_CHATLIEU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoai])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHASANXUAT] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NHASANXUAT] ([MaNSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHASANXUAT]
ALTER TABLE NHANVIEN
ADD CONSTRAINT FK_NV_CN FOREIGN KEY (MaCN) REFERENCES CHINHANH(MaCN)
ALTER TABLE KHACHHANG
ADD CONSTRAINT FK_KH_CN FOREIGN KEY (MaCN) REFERENCES CHINHANH(MaCN)
ALTER TABLE SANPHAM
ADD CONSTRAINT FK_SP_CN FOREIGN KEY (MaCN) REFERENCES CHINHANH(MaCN)
GO
USE [master]
GO
